#statics__block
  #caruosel
    .slide-wrapper.js__slide-0
      .slide.slide-face
        .slide-content__wrapper
          .slide__content
            %table
              %tr
                %td.slide__content__arrows
                  %span.slide-arrow.js__arrow{ data: { number: 2 } }
                    «
                  %span.slide-arrow.js__arrow{ data: { number: 1 } }
                    »
                %td.slide__content__text
                  Фотографиям вашего ребенка позавидуют даже звезды
                %td.slide__content__button
                  %a.yellow_button{href: '#'}
                    НАЧАТЬ ОБУЧЕНИЕ »


    .slide-wrapper.js__slide-1
      .slide.slide-gate
        .slide-content__wrapper
          .slide__content
            %table
              %tr
                %td.slide__content__arrows
                  %span.slide-arrow.js__arrow{ data: { number: 0 } }
                    «
                  %span.slide-arrow.js__arrow{ data: { number: 2 } }
                    »
                %td.slide__content__text
                  Какие-то ворота в Индии во время грозы
                %td.slide__content__button
                  %a.yellow_button{href: '#'}
                    НАЧАТЬ ОБУЧЕНИЕ »

    .slide-wrapper.js__slide-2
      .slide.slide-motocycle
        .slide-content__wrapper
          .slide__content
            %table
              %tr
                %td.slide__content__arrows
                  %span.slide-arrow.js__arrow{ data: { number: 1 } }
                    «
                  %span.slide-arrow.js__arrow{ data: { number: 0 } }
                    »
                %td.slide__content__text
                  Таким фотографиям все тоже позавидуют
                %td.slide__content__button
                  %a.yellow_button{href: '#'}
                    НАЧАТЬ ОБУЧЕНИЕ »
